.Track-wrapper {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    background-color: var(--dark-foreground-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Track-image img {
    border-radius: 8px;
}

.Track-details {
    margin-left: 2rem;
}

.Track-title {
    font-size: 5rem;
    font-weight: 900;
    color: var(--dark-heading-color);
    letter-spacing: -2px;
    margin-left: -2px;
}

.Track-artists-name {
    display: inline-block;
}

.Track-album-name {
    display: inline-block;
    margin-top: .5rem;
    margin-left: 1rem;
    font-weight: 400;
}

.Track-button-primary {
    display: block;
    margin-top: 1.5rem;
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    border-radius: 9999px;
    background-color: var(--primary-button-color);
    box-shadow: 0px 4px 8px rgba(28, 47, 253, .5);
    color: var(--dark-heading-color);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.Track-button-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 16px rgba(28, 47, 253, .5);
}