:root {
  --dark-background-color: #121212;
  --dark-foreground-color: #282829;
  --dark-heading-color: #eeeeee;
  --dark-text-color: #c1c1d1;
  --primary-button-color: #2828ee;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--dark-heading-color);
}

p, a {
  color: var(--dark-text-color);
}
