body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--dark-background-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: var(--dark-foreground-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-button-color);
}
